a.Navlink{
margin: 20px ;
color:white ;
text-decoration: none;
}
li {
  list-style: none;
}
h3,h5{
  border-bottom: 5px solid rgb(72, 100, 226) !important;
  display: inline-block;
  text-transform: capitalize;
}
.MuiAppBar-colorPrimary{
background-color: rgb(107, 107, 170) !important;
}
